<%= render partial: "shared/navbar-index" %>

<div class="container p-5" id="signInBox">
  <div id="clearance" class="sign-in">
    <h2><%= t(".title") %></h2>

    <%= render partial: '/sessions/form' %>

  </div>
</div>
