<div class="background-keep">
  <div class="mt-5 container-fluid p-0">
        <h5 class="font-weight-bold">Edit Listing: <%= @listing.name %></h5>
  </div>

  <div class="container-fluid p-0">
    <%= render partial: 'listings/form-edit'%>
  </div>
</div>
