<head>
   <%= stylesheet_link_tag "users" if controller_name == "users" %>
</head>

<div class="container" id="signUpBox">
  <div id="clearance" class="sign-up">
    <h2><%= t(".title") %></h2>

      <%= render partial: '/users/form', object: form %>

  </div>
</div>
