<div class="container-fluid p-0 mx-0 my-3">
  <h5 class="font-weight-bold">Explore Selldome</h5>
  <ul class="list-inline">
    <% Listing.all_place_type.each do |type| %>
    <li class="list-inline-item">
      <a href="/dome">
        <div class="card container shadow-sm my-2">
          <div class="row">
            <img class="col-4 p-0" src="/assets/home.jpg" style="width:100px;height:100px;">
            <div id="tagContainer" class="col-8 p-0 tag-container">
              <p class="m-0"><%=type%></p>
            </div>
          </div>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>
