<div class="container-fluid p-0 mx-0 my-3">
  <h5 class="font-weight-bold">Explore Selldome</h5>
  <ul class="list-inline">
    <% Listing.all_place_type.each_with_index do |type, index| %>
    <li class="list-inline-item">
      <%=link_to "/dome?utf8=✓&search=#{Listing.place_type_string(index+1)}" do %>
        <div class="card container shadow-sm my-2">
          <div class="row">
            <!-- Image looks distorted due to stretch. -->
            <%=image_tag(Listing.where(place_type:index+1).first.photos[0].thumb_medium.url, class: 'col-4 p-0', style: 'width:100px;height:100px;')%>
            <div id="tagContainer" class="col-8 p-0 tag-container">
              <p class="m-0"><%=type%></p>
            </div>
          </div>
        </div>
      <%end%>
    </li>
    <% end %>
  </ul>
</div>
