<div class="container-fluid p-0 mx-0 my-3">
  <h5 class="font-weight-bold">Explore Selldome</h5>
  <ul class="list-inline">
    <li class="list-inline-item">
      <div class="card container shadow-sm my-2">
        <div class="row">
          <img class="col-4 p-0" src="/assets/home.jpg" style="width:100px;height:100px;">
          <div id="tagContainer" class="col-8 p-0 tag-container">
            <p class="m-0">Home</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-inline-item">
      <div class="card container shadow-sm my-2">
        <div class="row">
          <img class="col-4 p-0" src="/assets/restaurant.jpg" style="width:100px;height:100px;">
          <div id="tagContainer" class="col-8 p-0 tag-container">
            <p class="m-0">Restaurant</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-inline-item">
      <div class="card container shadow-sm my-2">
        <div class="row">
          <img class="col-4 p-0" src="/assets/cafe.jpg" style="width:100px;height:100px;">
          <div id="tagContainer" class="col-8 p-0 tag-container">
            <p class="m-0">Cafes</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
