<div class="container-fluid p-0 mx-0 my-3">
  <h5 class="font-weight-bold">Explore Selldome</h5>
  <ul class="list-inline">
    <% Listing.all_place_type.each_with_index do |type, index| %>
    <li class="list-inline-item">
      <%=link_to "/dome?utf8=✓&search=#{Listing.place_type_string(index+1)}" do %>
        <div class="card container shadow-sm my-2">
          <div class="row">
            <% if index == 0 %>
            <div class="p-2 col-4 text-center ">
              <i class="fas fa-building text-danger" style="font-size:70px;"></i>
            </div>
            <% elsif index == 1 %>
            <div class="p-2 col-4 text-center ">
              <i class="fas fa-home text-danger" style="font-size:70px;"></i>
            </div>
            <% elsif index == 2 %>
            <div class="p-2 col-4 text-center ">
              <i class="fas fa-adjust text-danger" style="font-size:70px;"></i>
            </div>
            <% elsif index == 3 %>
            <div class="p-2 col-4 text-center ">
              <i class="fab fa-fort-awesome text-danger" style="font-size:70px;"></i>
            </div>
            <% elsif index == 4 %>
            <div class="p-2 col-4 text-center ">
              <i class="fas fa-hotel text-danger" style="font-size:70px;"></i>
            </div>
            <% end %>
            <div id="tagContainer" class="col-8 p-0 tag-container">
              <p class="m-0"><%=type%></p>
            </div>
          </div>
        </div>
      <%end%>
    </li>
    <% end %>
  </ul>
</div>
