<% content_for :navbar_landing do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>

<div class="background">
  <div class="overlay">
    <div id="landingText" class="container-fluid">
      <h1 class="display-4 text-center">I selldome go anywhere, so I am always here. </br>Thank  you, Selldome.</h1>
    </div>

    <div id="public-content"></div>

    <div id="modal-signin" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <div id="modal-signup" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
</div>
