<head>
   <%= stylesheet_link_tag "welcome" if controller_name == "welcome" %>
   <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<% content_for :navbar do %>
  <%= render partial: "shared/navbar-index" %>
<% end %>

<div id="landingText" class="container">
  <h1>I selldome go anywhere, so I am always here. </br>Thank  you, Selldome.</h1>
  <form class="form my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</div>
