<head>
   <%= stylesheet_link_tag "welcome" if controller_name == "welcome" %>
</head>

<% content_for :navbar_landing do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>

<div id="landingText" class="container">
  <h1>I selldome go anywhere, so I am always here. </br>Thank  you, Selldome.</h1>
  <form class="form my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</div>

<div id="modal-signin" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-signup" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
