<% content_for :navbar do %>
    <%= render partial: "shared/navbar" %>
<% end %>

<div class="container mt-5">
  <div class="d-flex flex-wrap flex-sm-row">
    <div class="col-sm-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%=link_to 'Security', user_account_settings_security_path(@user.id), remote: true%>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 account-box">
      <%= render partial: 'account/security'%>
    </div>
  </div>
</div>
