/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "bootstrap";
 @import 'dome';
 @import 'home';
 @import 'listings';
 @import 'moderator';
 @import 'passwords';
 @import 'reservations';
 @import 'review';
 @import 'superadmin';
 @import 'users';
 @import 'sessions';
 @import 'payment';

body {
  color: #424242;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

#navbar {
  outline-style: solid;
  outline-color: #eeeeee;
  outline-width: medium;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none!important;
  color: #424242;
  // font-weight: bold;
}

a:hover {
  color: #424242!important;
}

.background-keep {
  width: 90%;
  margin: auto;

}

// For cards at each end of a parent div to align
.first {
  margin-left: 0!important;
}

.last {
  margin-right: 0!important;
}

.listing_property_type {
  display: none;
}
//

// Profile Picture sizes presets
.profile-photo {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.profile-photo-large {
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-photo-large-rounded {
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.profile-thumbnail {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
//

.tiny-font {
  font-size: 12px;
}

.report-link {
  font-size: 14px;
}

.sticky-offset {
  top: 50px;
}

.secondary-text {
  font-size: 23px;
}

.view-photos {
  position: absolute!important;
  bottom: 20px;
  left: 20px;
}

// Verified Badge
#verified-badge {
  font-size:30px;
  vertical-align: middle;
  float: left;
}

#verified-text {
  // display: inline-block;
  font-weight: bold;
  // font-size: 13px;
  // vertical-align: middle
  margin: 0;
}

#verified-badge-thumbnail {
  font-size:15px;
  vertical-align: middle;
}
//

// Flash
#flash {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}


.listing-card {
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
}

.listing-card-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));

}

.background-wrap {
  background-position: center;
  background-size: cover;
}

.modal-lg {
    max-width: 80%;
}

.photo-500 {
  height: 500px;
  width: 500px;
}

.img-box {
  height: 200px;
  width: 300px;
}

.img-box-100px {
  height: 100px;
  width: 100px;
}

#scroll-box {
  height: 100%;
}

.simple-calendar {
  .day {
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: #cfcfcf;
    color: #9e9e9e;
  }
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #f44336!important;
  border-color: transparent;
  color: #fff;
}

#messages-box.dropdown-menu {
  min-width: 400px!important;
}

.searchbox-sm {
  display: none;
}

.homecard {
  padding: 0;
  margin: 0.5rem;
}

.explorecard {
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#tagContainer-sm {
  display: none;
}

.profile-box-sm {
  display: none;
}

.line-sm {
  display: none;
}

#account-collapse ul {
  display: none!important;
}

.reviews-sm {
  display: none!important;
}

.domecard-sm {
  display: none;
}

.profile-section-sm {
  display: none;
}

.edit-profile-sm {
  display: none;
}

.account-index-sm {
  display: none;
}

// RESPONSIVENESS
@media (max-width: 576px) {
  // WELCOME INDEX
  #landingText h1 {
    font-size: 2.3rem!important;
  }

  // SEARCHBOX
  .searchbox {
    display: none;
  }
  .searchbox-sm {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
  }

  // HOME CARDS
  .flexbox-card {
    justify-content: center;
  }

  .flexbox-card-title {
    text-align: center;
  }

  .homecard {
    padding: 0;
    margin-left: 0;
    margin-right: 0;

  }
  #scroll-box h1 {
    font-size: 2rem!important;
    text-align: center;
  }
  .icon-box {
    display: none;
  }

  #explore-box {
    display: none;
  }

  #tagContainer-sm {
    display: block;
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  // NAVBAR
  .profile-box {
    display: none;
  }

  .profile-box-sm {
    display: block;
  }

  #account-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }

  #account-collapse ul {
    display: block!important;
  }

  #navbar .navbar-brand {
    text-align: center!important;
    margin-right: auto;
    margin-left: auto;

  }

  .line-sm {
    display: block;
  }

  .profile-grid .col-sm-3 {
    margin-bottom: 2rem;
  }

  .profile-grid .col-sm-3 .card {
    margin-top: 3rem!important;
  }

  .listings-profile-box {
    margin-bottom: 2rem;
  }

  .mb-5 h1 {
    font-size: 30px;
  }

  .country, .country i {
    display: none;
  }

  #navbarDropdown ul {
    margin-top: 1rem;
  }

  .reviews-sm {
    display: flex!important;
  }

  .reviews {
    display: none;
  }

  .comment-name-thumbnail {
    margin-bottom: 0!important;
  }

  #attrBar li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  #attrBar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .domecard {
    display: none;
  }

  .domecard-sm {
    display: block;
    height: 150px;
  }

  .domecard-img-sm {
    height: 150px;
  }

  .profile-section {
    display: none;
  }

  .profile-section-sm {
    display: block;
  }

  .edit-profile {
    display: none;
  }

  .edit-profile-sm {
    display: block;
  }

  .account-index {
    display: none;
  }

  .account-index-sm {
    display: flex!important;
  }
}
