@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  color: #424242;
}

#signInBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)!important;
  width: 30%!important;
}

#signUpBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)!important;
  width: 30%!important;
}

#navbar {
  outline-style: solid;
  outline-color: #eeeeee;
  outline-width: medium;
}

a {
  text-decoration: none;
  color: #424242;
  // font-weight: bold;
}

.tag-container {
  width: 200px;
}

.tag-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.background-keep {
  width: 90%;
  margin: auto;

}

.first {
  margin-left: 0!important;
}

.last {
  margin-right: 0!important;
}

.listing_property_type {
  display: none;
}

#attrBar {
  outline-style: solid;
  outline-color: #eeeeee;
  outline-width: medium;
}

.cover-photo {
  width: 100%;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.profile-photo {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.profile-photo-large {
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // border-radius: 50%;
}

.profile-thumbnail {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#view-more {
  // text-decoration: none;
  color: #424242;
}

// Collapse in Profile
#description.collapse, #description.collapsing {
  height: 3rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

#description.collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
}

#description.collapse:before {
  content: ' ...';
  position: absolute;
  right: 0;
  bottom: 0;
}

#description.collapse.show {
  height: auto;  /* You need to reset the height when not collapsed */
}

#description.collapse.show:before {
  display: none;  /* Of course you don't want to display ... */
}

.tiny-font {
  font-size: 12px;
}

.sticky-offset {
  top: 50px;
}

#view-photo {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#verified-badge {
  font-size:30px;
  vertical-align: middle;
  float: left;
}

#verified-text {
  // display: inline-block;
  font-weight: bold;
  // font-size: 13px;
  // vertical-align: middle
  margin: 0;
}

#verified-badge-thumbnail {
  font-size:15px;
  vertical-align: middle;
}

#flash {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.report-link {
  font-size: 14px;
}

.secondary-text {
  font-size: 23px;
}

.listing-card {
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
}

.listing-card-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));

}
