/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.my-listing-card-text {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
}

.my-listing-card-text p, .my-listing-card-text i {
  color: white;
}

.cover-photo {
  width: 100%;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#view-more {
  color: #424242;
}

// Collapse in Profile
#description.collapse, #description.collapsing {
  height: 3rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

#description.collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
}

#description.collapse:before {
  content: ' ...';
  position: absolute;
  right: 0;
  bottom: 0;
}

#description.collapse.show {
  height: auto;  /* You need to reset the height when not collapsed */
}

#description.collapse.show:before {
  display: none;  /* Of course you don't want to display ... */
}
