// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signUpBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)!important;
  width: 30%!important;
  background: rgba(255,255,255,0.6);
}
