// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: {
    image: url("https://source.unsplash.com/collection/1198672/2000x2000")
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landingText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)!important;
}

a {
  text-decoration: none;
  color: inherit;
}

// @keyframes animatedBackground {
// 	from { background-position: 0 0; }
// 	to { background-position: -100px 0; }
